aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
discord.py==1.0.1
idna==2.8
imageio==2.5.0
multidict==4.5.2
numpy==1.16.3
Pillow==8.3.2
PySocks==1.6.8
requests==2.21.0
urllib3==1.24.2
websock==1.0.1
websockets==7.0
yarl==1.3.0
